@import "theme.css";
@import "sections/about-me.css";
@import "sections/footer.css";
@import "sections/header.css";
@import "sections/projects.css";
@import "sections/skills.css";
@import "sections/animations.css";
@import "responsive.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1440px;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p-950);
  text-transform: capitalize;
}
.section__description {
  text-align: center;
  max-width: 100ch;
  color: var(--n-500);
}
body {
  background-color: var(--foreground-color);

  background-image: radial-gradient(var(--p-50) 2px, transparent 0.8px),
    radial-gradient(var(--p-100) 2px, var(--foreground-color) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
a {
  text-decoration: none;
}
