/* *================================
    Media Queries
=================================== */

/* *================================
    Desktop
=================================== */
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
  /* Header */
  .header__container {
    flex-direction: column;
  }
  .header__column--left {
    flex-direction: column;
    align-items: center;
  }
  .header__content--left {
    align-items: center;
  }
  .header__content--left p {
    text-align: center;
    min-width: 320px;
  }
  .header__column--right {
    flex-direction: column;
    align-items: center;
  }
}

/* *================================
    Tablet and small laptop
=================================== */

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* *================================
    Small Tablet and landscape mode
=================================== */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    margin: 80px auto;
  }
  /*ABOUT ME */
  .aboutMe__section {
    margin: 80px auto;
  }
  .aboutMe__section img {
    display: none;
  }

  /*SKILLS */
  .skills__grid_item:nth-child(1) {
    display: none;
  }
  .skills__grid_item:nth-child(4) {
    display: none;
  }
  .skills__grid_item:nth-child(2) {
    grid-column: span 3;
  }
  .skills__grid_item:nth-child(3) {
    grid-column: span 3;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__column {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .footer__copyright {
    text-align: center;
    margin-top: 0;
  }
  .footer__socials {
    justify-content: center;
    margin-top: 1rem;
  }
  .footer__socials a img {
    margin-right: 0.5rem;
  }
}

/* *================================
    Phone
=================================== */
@media (max-width: 640px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
  .container {
    max-width: 475px;
    padding: 0 1rem;
  }
  /* Header */
  .header__container {
    margin-top: 20px;
  }
  .header__badge_container {
    flex-direction: column;
  }

  /*ABOUT ME */
  .aboutMe__section {
    margin: 80px auto;
  }
  body > header > div > div.header__column--right > p:nth-child(2) {
    text-align: center;
  }
  .aboutMe__container {
    padding: 1rem;
  }

  /*SKILLS */
  .softSkills__badge {
    width: auto;
    padding: 10px;
  }
  .softSkills__badge img {
    display: none;
  }
}
