/* *================================
    Media Queries
=================================== */

/* *================================
    Desktop
=================================== */
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

/* *================================
    Tablet and small laptop
=================================== */

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  /* Header */
  .header__container {
    flex-direction: column;
  }
  .header__column--left {
    flex-direction: column;
    align-items: center;
  }
  .header__content--left {
    align-items: center;
  }
  .header__content--left p {
    text-align: center;
    min-width: 320px;
  }
  .header__column--right {
    flex-direction: column;
    align-items: center;
  }
}

/* *================================
    Phone
=================================== */
@media (max-width: 640px) {
  :root {
    font-size: 14px;
    line-height: 16px;
  }
  .container {
    max-width: 475px;
    padding: 0 1rem;
  }
  /* Header */
  .header__container {
    margin-top: 20px;
  }
  .header__badge_container {
    flex-direction: column;
  }
}
