@keyframes drift {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(5px, -10px) rotate(1deg);
  }
  75% {
    transform: translate(-5px, 10px) rotate(-1deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 6px));
  }
}
@-webkit-keyframes move-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 6px));
  }
}
@keyframes move-right {
  from {
    transform: translateX(calc(-50% - 6px));
  }
  to {
    transform: translateX(0);
  }
}
