.projects__section {
  margin: 140px auto;
}
.projects__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projects__card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.projects__cards {
  border: 1px solid var(--p-100);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px hsla(var(--p-950-code), 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--foreground-color);
  color: var(--p-950);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.projects__cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px hsla(var(--p-950-code), 0.1),
    0 4px 8px hsla(var(--p-950-code), 0.07);
}

.projects__cards_wrapper {
  width: 100%;
  height: 200px;
  background-color: var(--p-50);
}

.projects_cards_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__cards_titles {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projects__cards_titles h4 {
  font-size: var(--h4-font-size);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.projects__cards_titles h3 {
  font-size: var(--h3-font-size);
  color: var(--p-600);
  font-weight: 500;
}
