.skills__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.skills__grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-rows: minmax(320px, auto);
  gap: 12px;
}

.skills__grid_item_header div {
  display: flex;
  gap: 12px;
}
.skills__grid_item_header h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
  text-transform: capitalize;
}
.skills__grid_item_header p {
  margin-top: 12px;
  color: var(--n-500);
  max-width: 60ch;
}
.skills__grid_item {
  overflow: hidden;
  border: 2px solid var(--p-100);
  border-radius: 24px;
  background-color: var(--p-20);
  padding: 2rem 2rem;
  box-shadow: 0px 2px 4px hsla(233, 45%, 20%, 0.1);
}
/* cat image */
.skills__grid_item:nth-child(1) {
  border: none;
  background: url("../../assets/cat1.jpeg") center / cover no-repeat;
}

/*********************************************************************
 Techstack & Technologien 
 *********************************************************************/
.skills__grid_item:nth-child(2) {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills__grid_item:nth-child(2) .icon-badges {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 1em;
  border-radius: 12px;
  padding: 0.6em 2em;
  width: 12em;
  font-weight: 700;
  font-size: var(--caption-font-size);
  text-transform: uppercase;
}
.skills__grid_item:nth-child(2) .icon-badges img {
  height: 2em;
}

.skills__grid_item:nth-child(2) .icons-list-wrapper {
  overflow: hidden;
  margin-top: 8px;
  display: flex;
  gap: 12px;
}
.skills__grid_item:nth-child(2) .icons-list {
  display: flex;
  min-width: 100%;
  gap: 12px;
  flex-shrink: 0;
}

.skills__grid_item:nth-child(2) .icon-badges:nth-child(even) {
  background: var(--main-gradient-color);
  color: white;
}
.skills__grid_item:nth-child(2) .icon-badges:nth-child(odd) {
  background: white;
  border: 2px solid var(--p-100);
}
.skills__grid_item:nth-child(2) .icon-badges:nth-child(odd) span {
  background: var(--main-gradient-color);
  color: transparent;
  background-clip: text;
}

.skills__grid_item:nth-child(2) .icons-list-wrapper:nth-of-type(1) .icons-list {
  animation: move-left 60s linear infinite;
}
.skills__grid_item:nth-child(2) .icons-list-wrapper:nth-of-type(2) .icons-list {
  animation: move-right 30s linear infinite;
}
/*======================================================================*/

/* ******************************
          Softskill        
*******************************/

.skills__grid_item:nth-child(3) {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.softSkills__container {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}
.softSkills__badge {
  height: 36px;
  width: 244px;
  border: 1px solid var(--p-100);
  border-radius: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--caption-font-size);
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0 1px 2px hsla(var(--p-950-code), 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: drift 8s ease-in-out infinite;
}
.softSkills__badge:hover {
  animation-play-state: paused;
  transform: scale(1.05);
  box-shadow: 0 4px 8px hsla(var(--p-950-code), 0.15),
    0 2px 4px hsla(var(--p-950-code), 0.1);
  z-index: 10;
}

/* delay */
.softSkills__badge:nth-child(2) {
  animation-delay: -1.5s;
}
.softSkills__badge:nth-child(3) {
  animation-delay: -3s;
}
.softSkills__badge:nth-child(4) {
  animation-delay: -4.5s;
}
.softSkills__badge:nth-child(5) {
  animation-delay: -6s;
}
.softSkills__badge:nth-child(6) {
  animation-delay: -7.5s;
}

.softSkills__badge p {
  position: relative;
  background: var(--main-gradient-color);
  color: transparent;
  background-clip: text;
}
.softSkills__badge img {
  position: absolute;
  left: 5%;
  height: 40px;
  width: 40px;
  position: absolute;
}
.softSkills__book_icons {
  position: relative;
  height: 100%;
  width: 100%;
}

.skills__grid_item:nth-child(4) {
  background-image: url("../../assets/cat3.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  transition: background-image 0.3s ease-in-out;
}
.skills__grid_item:nth-child(4):hover {
  background-image: url("../../assets/cat2.jpeg");
}
/*======================================================================*/
